@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1144px;
    padding: 1rem;
    margin: 0 auto;
}

.centered {
    margin: 0 auto;
    margin-top: 20vh;
}

.content {
    width: 400px;
    max-width: 100%;
    text-align: center;
}

.brand {
    padding: 1rem;
}

.brand h1 {
    font-size: 8rem;
    letter-spacing: 0.7rem;
}

.brand .name {
    font-size: 1rem;
    margin: 0.5rem;
}

.brand .sub {
    font-size: 0.7rem;
}

.links {
    display: flex;
    justify-content: center;
}

.link {
    padding: 0.7rem;
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fbfbfb;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 100%;
}

.link:hover {
    background: #f4f4f4;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding: 0.9rem;
    margin: 0.8rem;
}

.link:active {
    padding: 0.6rem;
    margin: 1.1rem
}

.link:hover img {}

.link img {
    width: 30px;
    height: 30px;
}

body {
    background-color: #cccccc20;
}

.brand {
    font-family: "Montserrat", "Russo One", sans-serif;
    /* mix-blend-mode: hard-light; */
    color: #818181;
    letter-spacing: 0.2rem;
}
